.footer-wrapper {
    display: flex;
    padding: 16px;

    .menu-button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 16px;
        cursor: pointer;
    }

    .menu-button-label {
        margin-left: 12px;
    }
}
