.header-menu-wrapper {
    height: 52px;
    min-height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #9D3ADC;

    svg {
        .fill {
            fill: white;
        }

        .fill-stroke {
            stroke: white;
        }
    }

    .menu-drawer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 16px;
    }

    .menu-locale {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 16px;
        font-weight: 600;
        cursor: pointer;
    }

    .locale-label {
        position: absolute;
        width: 31px;
        text-align: center;
    }
}

body.dark.normal {
    .header-menu-wrapper {
        background-color: #2F2F2F;
    }
}
