.checkbox.checked {
    &.А {
        border-color: #FF4238;
        background-color: #FF4238;
    }

    &.Ав {
        border-color: #FF4238;
        background-color: #FF4238;
    }

    &.Т {
        border-color: #64B2BC;
        background-color: #64B2BC;
    }

    &.Тб {
        border-color: #64B2BC;
        background-color: #64B2BC;
    }

    &.М {
        border-color: #FDBF35;
        background-color: #FDBF35;
    }

    &.Мт {
        border-color: #FDBF35;
        background-color: #FDBF35;
    }

    &.Тр {
        border-color: #4BBA52;
        background-color: #4BBA52;
    }

    &.Тм {
        border-color: #4BBA52;
        background-color: #4BBA52;
    }
}


.sfp-forecast-row-number {
    &.А {
        background-color: #FF4238;
    }

    &.Ав {
        background-color: #FF4238;
    }

    &.Т {
        background-color: #64B2BC;
    }

    &.Тб {
        background-color: #64B2BC;
    }

    &.М {
        background-color: #FDBF35;
    }

    &.Мт {
        background-color: #FDBF35;
    }

    &.Тр {
        background-color: #4BBA52;
    }

    &.Тм {
        background-color: #4BBA52;
    }
}


.stationSearchByTypePage-subTitleWrapper .type-title-badge {
    &.А {
        background: #FF4238;
    }

    &.Ав {
        background: #FF4238;
    }

    &.Т {
        background: #64B2BC;
    }

    &.Тб {
        background: #64B2BC;
    }

    &.М {
        background: #FDBF35;
    }

    &.Мт {
        background: #FDBF35;
    }

    &.Тр {
        background: #4BBA52;
    }

    &.Тм {
        background: #4BBA52;
    }
}

.ssbtp-type-selector-wrapper .selector-item-badge {
    &.А {
        background: #FF4238;
    }

    &.Ав {
        background: #FF4238;
    }

    &.Т {
        background: #64B2BC;
    }

    &.Тб {
        background: #64B2BC;
    }

    &.М {
        background: #FDBF35;
    }

    &.Мт {
        background: #FDBF35;
    }

    &.Тр {
        background: #4BBA52;
    }

    &.Тм {
        background: #4BBA52;
    }
}


.ssbtp-route-list-content .list-item-badge-wrapper {
    &.А {
        &:before {
            border-right-color: #FF4238;
        }

        .list-iItem-badge {
            border-color: #FF4238;
        }
    }

    &.Ав {
        &:before {
            border-right-color: #FF4238;
        }

        .list-iItem-badge {
            border-color: #FF4238;
        }
    }

    &.Т {
        &:before {
            border-right-color: #64B2BC;
        }

        .list-iItem-badge {
            border-color: #64B2BC;
        }
    }

    &.Тб {
        &:before {
            border-right-color: #64B2BC;
        }

        .list-iItem-badge {
            border-color: #64B2BC;
        }
    }

    &.М {
        &:before {
            border-right-color: #FDBF35;
        }

        .list-iItem-badge {
            border-color: #FDBF35;
        }
    }

    &.Мт {
        &:before {
            border-right-color: #FDBF35;
        }

        .list-iItem-badge {
            border-color: #FDBF35;
        }
    }

    &.Тр {
        &:before {
            border-right-color: #4BBA52;
        }

        .list-iItem-badge {
            border-color: #4BBA52;
        }
    }

    &.Тм {
        &:before {
            border-right-color: #4BBA52;
        }

        .list-iItem-badge {
            border-color: #4BBA52;
        }
    }
}


.ssbtp-routes-lists-list-wrapper .list-item-badge {
    &.А {
        background: #FF4238;
    }
    &.Ав {
        background: #FF4238;
    }

    &.Т {
        background: #64B2BC;
    }
    &.Тб {
        background: #64B2BC;
    }

    &.М {
        background: #FDBF35;
    }
    &.Мт {
        background: #FDBF35;
    }

    &.Тр {
        background: #4BBA52;
    }
    &.Тм {
        background: #4BBA52;
    }
}


.icon-station {
    .А {
        fill: #FF4238;
    }
    .Ав {
        fill: #FF4238;
    }

    .Т {
        fill: #64B2BC;
    }
    .Тб {
        fill: #64B2BC;
    }

    .М {
        fill: #FDBF35;
    }
    .Мт {
        fill: #FDBF35;
    }

    .Тр {
        fill: #4BBA52;
    }
    .Тм {
        fill: #4BBA52;
    }
}
